* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 全体背景 */
.bg_pattern {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  opacity: 0.4;
  z-index: -1;
}

body {
  background-image:  radial-gradient(#ffc107 2px, transparent 2px), radial-gradient(#ffc107 2px, #ffffff 2px);
  background-size: 40px 40px;
  background-position: 0 0,20px 20px;
} 

/* タイトル */
header {
  text-align: center;
  width: 80vw;
  margin: 2rem auto;
  padding: 2rem ;
}

/* タスク追加フォーム */
.inputForm {
  width: 80vh;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.inputForm input {
  width: 15rem;
  height: 1.7rem;
  padding: 0.5rem;
}

.inputForm button {
  padding: 0.38rem 0.5rem;
  background: rgb(243, 240, 84);
}

/* タスクリスト */
.todoList {
  width: 100vw;
  margin: 2rem auto;
}

/* 登録日 */
.day{
  text-align: center;
}

.todo {
  margin: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.todoText {
  min-width: 15rem;
  max-height: 1.8rem;
  padding: 0.3rem 4rem;
  background: white;
  border: solid 1px black;
}

/* チェックアイコン */
.icons .fa-check {
  padding: 0.487rem .5rem;
  background: rgb(5, 170, 30);
}