/* ブログ一覧全体 */
.main{
  /* 投稿記事が上から順に表示される */
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;

  /* 要素がはみ出た場合はスクロール対応 */
  overflow: scroll;
}

/* 各ブログ記事全体 */
.list-main{
  border: solid 1px gray;

  /* リスト全体の大きさ */
  height: 150px;
  width: 1300px;

  /* リスト全体の外側余白 */
  margin: 30px 20px 30px 20px;
}

  /* 各ブログ記事内容全体 */
  .content-main{

    /* タイトル・内容全体の大きさ */
    height: 80%;
    width:100%;

    /* 内側の余白 */
    padding: 10px;
  }

    /* ブログタイトル */
    .content-main .content-title{
      border-bottom: solid 1px gray;

      /* タイトル欄の大きさ */
      height: 20%;
      width:100%;

      /* 内容との余白 */
      margin-bottom: 10px;
    }

    /* ブログ内容 */
    .content-main .content{
      border-bottom: solid 1px gray;

      /* 内容欄の大きさ */
      height: 75%;
      width:100%;
    }


  /* 日付・ユーザー名欄全体 */
    .date-user-container{
      display: flex;
      justify-content: left;
      align-items: center;

      padding: 2px;
    }

      /* 日付 */
      .post-day{
        /* 日付欄の大きさ */
        height:30px;
        width:160px;

        /* 文字の配置 */
        text-align: center;
      }

      /* ユーザー名 */
      .post-user{
        /* ユーザー名欄の大きさ */
        height:30px;
        width:150px;

        /* 文字の配置 */
        text-align: center;
      }

    /* ボタン全体 */
    .button{
      /* ボタン全体divの高さ */
      height: 30px;

      /* ボタンの配置 */
      display: flex;
      justify-content: right;
      align-items: center;
    }
